<nav class="main-nav">

  <div class="brand-area">

    <a class="brand-name" href="/">Fatih Kavum</a>
    <p class="brand-title">Software Engineer and Game Developer</p>
  </div>
  <div class="navbar-tabs-container">
    <a class="hamburger-button" name="hamburger-button">
      <span class="hamburger-button-line"></span>
      <span class="hamburger-button-line"></span>
      <span class="hamburger-button-line"></span>
    </a>
    <div class="navbar-tabs">
      <ul>
        <li>
          <div class="row"><i class="material-icons">
              portrait
            </i><a href="#">Home</a></div>
        </li>
        <li><i class="material-icons">
            portrait
          </i><a href="#">About</a></li>
        <li><i class="material-icons">
            portrait
          </i><a href="#">Contact</a></li>
      </ul>
    </div>
  </div>
</nav>