<head>
  <meta name="viewport" content="width=device-width,initial-scale=1.0" />
  <title>Handmade navbar</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="{{ site.baseurl }}/assets/css/master.css" rel="stylesheet" />
  <link href="{{ site.baseurl }}/assets/css/navbar.css" rel="stylesheet" />
  <link href="{{ site.baseurl }}/specialPages/circleHover/css/circleHover.css" rel="stylesheet" />
  <link href="{{ site.baseurl }}/assets/css/myPage/background.css" rel="stylesheet" />
  <link href="{{ site.baseurl }}/assets/css/myPage/scrollPage.css" rel="stylesheet" />
  <link href="{{ site.baseurl }}/assets/css/libs/bootstrap.min.css" rel="stylesheet" />
</head>