<nav class="main-nav row">
  <div class="col-6">
    <div class="brand-title">Fatih Kavum</div>
    <a class="hamburger-button" name="hamburger-button">
      <span class="hamburger-button-line"></span>
      <span class="hamburger-button-line"></span>
      <span class="hamburger-button-line"></span>
    </a>
  </div>
  <div class="col-6">
    <div class="navbar-tabs">
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </div>
  </div>
</nav>